@charset "UTF-8";

@font-face {/* La fuente Lora se utilizará en toda la página, con esta sentencia la definimos */ 
  font-family: Lora;
  src: url('../fonts/Lora-Regular.ttf');
}
html, body {
  min-height: 100%;

}
*{    
  font-family: Lora; /* Asignar nuestra fuente creada a todas las etiquetas */ 
  margin: 0%; /* Remover el margin a toda la pagina */ 
}
/*
  *  SIDE MENU STYLES
*/

.side-menu {
  width: 200px; /* Va a medir 100 px de ancho */
  position: fixed; /* La idea de la posición fija  es para que se mantega a la derecha y quieto sin importar los otros elementos */
  height: 100%; /* El alto será toda la pagina */
  background-color: #003d88; /* Azul de la bandera de Kiribati*/
}
.side-menu-content {
  padding-top: 3vh; /* Separación del elemento padre en la parte superior por 5vh */
  list-style-type: none; /* Quitar los dots de  la lista */
  padding-left: 0px; /* No habrá separación con la caja padre en el lado izquierdo */
}
.side-menu-content a { /* Estilos aplicados a las etiquetas <a> que tengan un padre con clase side-menu-content */
  text-decoration: none; /* Quitar la raya inferior del enlace */ 
  color: white; /* Darle el color de blanco texto*/
  font-weight: 600; /* Letra en negrilla */
  text-transform: uppercase; /* Su contenido siempre estará en mayúsculas */
  padding-left: 15px; 
}
.side-menu-content a.active { /* Estilos aplicados a las etiquetas <a> con clase active y  que tengan un padre con clase side-menu-content  */
  color: #dea10a;
}
.side-menu-content li { /* Aplicados a etiquetas <li> que tengan como padre side-menu-content */
  margin-bottom: 15px; /* Separación de 15 pixeles hacia abajo con el elemento siguiente o continuo */
  margin-top: 15px; /* Separación de 15 pixeles hacia arriba con el elemento siguiente o continuo */
  border-bottom: 1px solid gray; /* Borde de un 1px de grosor, continuo y gris */
}

.side-menu-flag {
  max-width: 200px;
}
.side-menu-author {
  color: white;
  word-wrap: normal; /* El texto no se saldrá del elemento padre, sino que hará un wrap */
  text-align: center; /* El texto estará centrado */
  position: absolute; /* Tendrá una posición que no depende de los otros elementos */
  bottom: 0px; /* Estará "pegado" a la parte inferior */
  left: 0px; /* Estará "pegado" a la parte izquierda */
  padding-bottom: 10px;
}
/*
  * ISLAND STYLE
*/

.island {
  margin: 30px 40px 15px 40px; 
  padding: 20px 100px 20px 100px;
  box-shadow: 0px 0px 4px 5px rgba(222,161,10,0.75), 0px 0px 10px 0px rgba(222,161,10,0.75);
  border-radius: 10px;
  background-color: white;
}
.island:last-of-type { /* El ultimo island o div que tiene esta clase en la página no tendrá margin en la parten inferior */
  margin: 30px 40px 0px 40px;
}

/*
  *  INITIAL PAGE STYLES
*/
.title {
  font-size: 40px;
}
.body-section {
  padding-left: 200px; /* Tiene que tener la misma unidad que el width del menu, para que el contenido no se solape con el side-menu*/
  max-width: calc(100% - 200px); /* La idea es que no haya scroll lateral, por eso se define el maximo ancho de la página con esa formula */
  text-align: center; 
  background-image: url('../img/Background.jpg'); /* Se usará una imagen de background para simular el mar y cada caja sera una isla */
  background-repeat: repeat; /* En caso de que la imagen de background no sea suficientemente grande para el contenido, se repite*/
  min-height: 100vh;
  height: 100%;
}
.flag-image {
  width: 22vw;  /* Se usan unidades relativas para que se vayan adaptando a la pantalla según sea su dimensión: 1vw = 1% viewport de ancho */
  height: 25vh; /* Se usan unidades relativas para que se vayan adaptando a la pantalla según sea su dimensión  1vh = 1% viewport de alto */
}
.two-rows {
  width: 50%; /* Cada columna tiene 50% de ancho */
  max-width: 50%; /* Cada columna maximo tiene 50% de ancho */
}
.columns {
  display: flex; 
}
.paragraph {
  text-align: justify;
}

/*
  *  LOCATION PAGE STYLES
*/
.map-image {
  width: 30vw; 
  height: 50vh; 
}

/*
  *  PEOPLE PAGE STYLES
*/
.people-image {
  width: 55vw;
  height: 50vh;
}

/*
  *  ACTIVITY PAGE STYLES
*/
.farmer-image {
  width: 55vw;
  height: 50vh;
}
/*
  *  CREDITS PAGE STYLES
*/
.map-site {
  width: 60vw;
  height: 60vh;
}

/*
  *  HISTORY PAGE STYLES
*/
.stages-list {
  list-style-type: none; /* Quitar los dots de  la lista */
}
.war-image {
  width: 30vw;
  height: 35vh;
}
.people-image {
  width: 35vw;
  height: 33vh;
}

@media only screen and (max-width: 992px) { /* Cuando la pantalla sea a lo maximo 993px se apllicaran los siguientes estilos definidos */
  .columns {
    display: inherit; /* La dos columnas tienen todo el espacio en este momento*/
  }
  .two-rows {
    width: 100%; /* Cada columna tiene 100% de ancho */
    max-width: 100%; /* Cada columna maximo tiene 100% de ancho */
  }
  .island {
    padding: 15px 50px 15px 50px;
  }
  .people-image {
    width: 35vw;
    height: 30vh;
  }
  .farmer-image {
    width: 35vw;
    height: 30vh;
  }
  .map-site {
    width: 40vw;
    height: 40vh;
  }
}
@media only screen and (max-width: 600px) {/* Cuando la pantalla sea a lo maximo 600px se apllicaran los siguientes estilos definidos */
  .island {
    padding: 5px 20px 5px 20px;
  }
  .title {
    font-size: 30px;
  }
}
